<header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-lg-between mr-5">



      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">صفحه اصلی</a></li>
          <li><a class="nav-link scrollto" href="#services">اخبار</a></li>
          <li><a class="nav-link scrollto " href="#portfolio">جستجوی وکیل</a></li>
          <li><a class="nav-link scrollto" href="#team">هیات مدیره</a></li>
          <li class="dropdown"><a href="#"><span>کمیسیون ها</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">کارآموزی</a></li>
              <li><a href="#">فرهنگی و رفاهی</a></li>
              <li><a href="#">حقوق بشر</a></li>
              <li class="dropdown"><a href="#"><span>دادسرای انتظامی</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="#">کارآموزی</a></li>
                  <li><a href="#">فرهنگی و رفاهی</a></li>
                  <li><a href="#">حقوق بشر</a></li>
                  <li><a href="#">اداره معاضدت و تسخیری</a></li>
                  <li><a href="#">نقل و انتقالات</a></li>
              <li><a href="#">اداره معاضدت و تسخیری</a></li>
              <li><a href="#">نقل و انتقالات</a></li>
              <li><a href="#"> ورزشی</a></li>
              <li><a href="#">آموزش و پژوهش <a></li>
              <li><a href="#">محیط زیست</a></li>


            </ul>
          </li>
          <!-- <li><a class="nav-link scrollto" href="#contact">Contact</a></li> -->
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
          </li>
        </ul>
      </nav>
    </div>

    </div>
  </header>