{% load static %}

<html lang="en" dir="rtl">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>کانون وکلای دادگستری استان همدان</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'asset/img/favicon.png' %}" rel="icon">
  <link href="{% static 'aasset/img/apple-touch-icon.png' %}"rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'asset/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'asset/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'asset/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'asset/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'asset/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'asset/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'asset/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
<!--  <link href="{% static 'asset/css/rtl.css' %}" rel="stylesheet">-->
  <link href="{% static 'asset/css/style.css' %}" rel="stylesheet">
  <!-- Template Main CSS File -->


  <!-- =======================================================
  * Template Name: Gp
  * Template URL: https://bootstrapmade.com/gp-free-multipurpose-html-bootstrap-template/
  * Updated: Mar 17 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-lg-between mr-5">

       <img src="{% static 'img/logo.png' %}" class="img-fluid" alt="">

      <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="img/logo.png" alt="" class="img-fluid"></a> -->

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">صفحه اصلی</a></li>
          <li><a class="nav-link scrollto" href="#services">اخبار</a></li>
          <li><a class="nav-link scrollto " href="#portfolio">جستجوی وکیل</a></li>
          <li><a class="nav-link scrollto" href="#team">هیات مدیره</a></li>
          <li class="dropdown"><a href="#"><span>کمیسیون ها</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">کارآموزی</a></li>
              <li><a href="#">فرهنگی و رفاهی</a></li>
              <li><a href="#">حقوق بشر</a></li>
              <li class="dropdown"><a href="#"><span>دادسرای انتظامی</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="#">کارآموزی</a></li>
                  <li><a href="#">فرهنگی و رفاهی</a></li>
                  <li><a href="#">حقوق بشر</a></li>
                  <li><a href="#">اداره معاضدت و تسخیری</a></li>
                  <li><a href="#">نقل و انتقالات</a></li>
              <li><a href="#">اداره معاضدت و تسخیری</a></li>
              <li><a href="#">نقل و انتقالات</a></li>
              <li><a href="#"> ورزشی</a></li>
              <li><a href="#">آموزش و پژوهش <a></li>
              <li><a href="#">محیط زیست</a></li>


            </ul>
          </li>
          <!-- <li><a class="nav-link scrollto" href="#contact">Contact</a></li> -->
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
          </li>
        </ul>
      </nav>
    </div>

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">



      <div class="row gy-4 mt-5 justify-content-center" data-aos="zoom-in" data-aos-delay="250">
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <div class="icon"><i class="bi bi-search"></i></div>
            <h4 style="font-family: 'B Titr';"><a href="{% url 'home:vokala' %}"  style="font-family: 'B Titr';">جستجوی وکیل  </a></h4>
            <p class="description"  style="font-family: 'B Arshia  '; color: #abe1f8">جستجوی وکلا بر اساس نام، نام خانوادگی،...</p>
          </div>
        </div>
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <div class="icon"><i class="bi bi-laptop"></i></div>
            <h4 class="title"><a href=""  style="font-family: 'B Titr';">اتوماسیون</a></h4>
            <p class="description" style="font-family: 'B Arshia  '; color: #abe1f8">ورود به اتوماسیون تخصصی وکلا  </p>
          </div>
        </div>

        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
            <div class="icon"><i class="bi bi-envelope"></i></div>
            <h4 class="title"><a href=""   style="font-family: 'B Titr';">پست الکترونیکی</a></h4>
            <p class="description" style="font-family: 'B Arshia  '; color: #abe1f8">ثبت نام وکلا جهت دریافت پست الکترونیکی</p>          </div>
          </div>
        </div>

      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">



    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients">
      <div class="container" data-aos="zoom-in">

        <div class="clients-slider swiper" style="height: 88px;">
          <div class="swiper-wrapper align-items-center">
            <div class="swiper-slide"><img src="{% static 'asset/img/clients/yvnfl.jpg' %}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{% static 'asset/img/clients/9nj03.jpg' %}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{% static 'asset/img/clients/ugqpd.jpg' %}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{% static 'asset/img/clients/bjolg.jpg' %}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{% static 'asset/img/clients/ayljq.jpg' %}" class="img-fluid" alt=""></div>          <div class="swiper-pagination"></div>
            <div class="swiper-slide"><img src="{% static 'asset/img/clients/amwu1.jpg' %}" class="img-fluid" alt=""></div>          <div class="swiper-pagination"></div>
        </div>

      </div>
      </div>
    </section>
    <section id="services" class="services">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>اخبار</h2>
        </div>

<div class="row">
          {% for i in article %}
          <div class="card col-md-3 g-2 mr-2">
    <img class="card-img-top" src="{{i.thumbnail.url}}" alt="Card image cap" style="width: 100%; height: 150px">
    <div class="card-body">
     <a href="{% url 'home:detail' i.slug %}"> <h5 class="card-title" style="font-family: 'B Titr'; font-weight: bold;font-size: 16px;">{{i.title}}</h5></a>
      <p class="card-text" style="align-content: center; font-family: 'B Nazanin'; font-size: 16px;">{{i.description}}</p>
      <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
    </div>
  </div>
    {% endfor %}
      </div>
    </section>
      </div>
    </section>
    </section><!-- End Services Section --><!-- End Clients Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="image col-lg-6" style='background-image: url("static/asset/img/mobile.png");' data-aos="fade-right"></div>
          <div class="col-lg-6" data-aos="fade-left" data-aos-delay="100">
            <div class="icon-box mt-5 mt-lg-0" data-aos="zoom-in" data-aos-delay="150">
              <i class="bx bx-receipt"></i>
              <h5>مشاهده فهرست بروز وکلای هر استان</h5>
            </div>
            <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
              <i class="bx bx-cube-alt"></i>
              <h5>مشاهده فهرست بروز کارآموزان هر استان</h5>
            </div>
            <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
              <i class="bx bx-images"></i>
              <h5>مشاهده اعضای هیات مدیره</h5>
            </div>
            <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
              <i class="bx bx-shield"></i>
              <h5>دسترسی به کمیسیون ها و اعضای آنها</h5>
            </div>
          </div>
        </div>

      </div>
    </section>




    <!-- ======= Testimonials Section ======= -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
      <div class="container">

        <div class="section-title">
          <h2 style="font-family: 'B Titr';">هیات مدیره</h2>

        </div>

        <div class="row">
          {% for i in heyatmodireh %}
          <div class="card col-md-3 g-2 mr-2">
    <img class="card-img-top" src="{% if i.vakil.thumbnail %}{{i.vakil.thumbnail.url}}{% else %}#{% endif %}" alt="Card image cap" style="width: 100%; height: 150px">
    <div class="card-body">
      {{i.role}}
      <p class="card-text" style="align-content: center; font-family: 'B Nazanin'; font-size: 16px;">{{i.vakil.name}}  {{i.vakil.lastname}}</p>
      <div class="card-footer">
      <small class="text-muted">{{i.role}}</small>
    </div>
    </div>
  </div>
    {% endfor %}
      </div>
  </div>



        </div>

      </div>
    </section>
      </div>
    </section>
      </div>
    </section>
      </div>
  </main>
</body>
    <section id="testimonials" class="testimonials">

      <div class="container mr-5" style="align-items: center; margin-right: 100px;" data-aos="zoom-in">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4633.700357069715!2d48.514082359384766!3d34.792833464831936!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ff1ece11fe48d3d%3A0xed1d4fff92db4531!2z2qnYp9mG2YjZhiDZiNqp2YTYp9uMINiv2KfYr9qv2LPYqtix24wg2KfYs9iq2KfZhiDZh9mF2K_Yp9mG!5e0!3m2!1sen!2s!4v1720593822023!5m2!1sen!2s" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="mr-5"></iframe>
 </div>
    </section>
  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>HamedanBar<span>.</span></h3>
              <p>کانون وکلای دادگستری قدیمی‌ترین سازمان مردم نهاد ایرانی است که به موجب لایحه استقلال کانون وکلا در سال ۱۳۳۱ به عنوان نهادی با شخصیت حقوقی و مستقل به وجود آمد، هرچند پیش از آن هم موجودیت داشت. کانون وکلای دادگستری ایران در سال ۱۳۲۹ نیز به عضویت کانون وکلای بین‌المللی (IBA) درآمده است. هیئت مدیره، رئیس، دادگاه انتظامی وکلا و دادسرای انتظامی وکلا از نهادهای هر کانون هستند.
                A108 Adam Street <br>
                NY 535022, USA<br><br>
                <strong>تلفن تماس :</strong>081-38282028-29<br>
                <strong>سامانه پیامکی :</strong> 10008138282029<br>
              </p>
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>پیوندها</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">کانون های وکلای دادگستری کشور</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">ورود وکلا به پنل پست الکترونیکی</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">اپلیکیشن کانون های وکلا</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">مصوبات هیات مدیره</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">پیشنهادات و انتقادات</a></li>
            </ul>
          </div>



         <div class="col-lg-3 col-md-6 col-sm-6 col-6 footer-widget">
                  <ul class="footer-widget__list circle-list">
                        <li><a referrerpolicy="origin" target="_blank" href="https://trustseal.enamad.ir/?id=311423&amp;Code=W2AAql1kCj1PA18yDfSl"><img referrerpolicy="origin" src="https://Trustseal.eNamad.ir/logo.aspx?id=311423&amp;Code=W2AAql1kCj1PA18yDfSl" alt="" style="cursor:pointer" id="W2AAql1kCj1PA18yDfSl"></a>
                        </li>
                    </ul>                        <li><a referrerpolicy="origin" target="_blank" href="https://trustseal.enamad.ir/?id=311423&amp;Code=W2AAql1kCj1PA18yDfSl"><img referrerpolicy="origin" src="https://Trustseal.eNamad.ir/logo.aspx?id=311423&amp;Code=W2AAql1kCj1PA18yDfSl" alt="" style="cursor:pointer" id="W2AAql1kCj1PA18yDfSl"></a>
         </li>
                    </ul>
                </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Gp</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/gp-free-multipurpose-html-bootstrap-template/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'asset/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'asset/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'asset/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'asset/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'asset/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'asset/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'asset/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'asset/js/main.js' %}"></script>

</body>

</html>