{% extends 'base.html' %}
{% load static %}

{% block content%}
<br>
<br>
<br>
<br>

<div class="container ">


    <div  style="width: 1190px;height: 300px;margin-top: 50px;">
  <img  src="{% static 'banner.jpg'  %}"  style="width: 1190px;height: 294px" alt="Card image">

    </div>
 <div class="row " style="margin-top: 100px">
{% for i in page_obj  %}

  <div class="col-sm-3" >

<div class="card" style="width:400px">
            <img class="card-img-top" src="{{ i.thumbnail.url }}" class="img-fluid" alt="" >
  <div class="card-body">
      <a href="{% url  'home:vakil' i.id %}"> <h4 class="btn btn-primary">  {{i.name}}  {{i.lastname}} </h4></a>
    <p class="card-text">{{i.code}}</p>
      <br>
<br>

  </div>
        {% if forloop.counter|divisibleby:3 %}
                </div><div class="row">
            {% endif %}
</div>
  </div>

     {% endfor %}
<div class="pagination row " style="align-items: center; margin-right: 500px;margin-top: 50px;">
       <span class="step-links">
           {% if page_obj.has_previous %}
               <a href="?page=1">&laquo; first</a>
               <a href="?page={{ page_obj.previous_page_number }}">previous</a>
           {% endif %}

           <span class="current">
               Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
           </span>

           {% if page_obj.has_next %}
               <a href="?page={{ page_obj.next_page_number }}">next</a>
               <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
           {% endif %}
       </span>
   </div>
 </div>

</div>
<br>
<br>
<br>

{% endblock %}
